@page "/albumAdd"



<h3>AlbumAdd</h3>
<button @onclick="AddSong">Add Song</button>

@foreach (var cancion in album.Songs)
{
    <SongBlock song="cancion" onSongChanged="UpdateAddedSong"></SongBlock>
}



@code {
    public Album album = new Album() { Songs = new List<Song>() };


    protected override async Task OnInitializedAsync()
    {
        try
        {
            album.Songs.Add(new Song() {Number =  album.Songs.Count +1});
        }
        catch (Exception)
        {

            throw;
        }
    }


    public void AddSong()
    {
        album.Songs.Add(new Song() {Number = album.Songs.Count + 1});
    }

    public async void UpdateAddedSong(Song song)
    {
        var songToUpdate = album.Songs.FirstOrDefault(s => s.Number == song.Number);
        if (songToUpdate != null)
        {
            songToUpdate.Extension = song.Extension;
            songToUpdate.Name = song.Name;
            songToUpdate.Path = song.Path;
        }
    }

    protected async Task AlbumSave()
    {
        var a = album.Songs;
    }

}
