

<table class="table">
    <tr>
        <td>Name</td>
         <td><input type="text" @bind="song.Name"/></td>
    </tr>

    <tr>
        <td>Upload</td>
        <td><InputFile ></InputFile></td>
    </tr>
    <tr>
        <td>
            <button @onclick="@UpdateValueSong">Update</button>
        </td>
    </tr>

</table>


@code {


    [Parameter]
    public Song song { get; set; }

    [Parameter]
    public EventCallback<Song> onSongChanged{ get; set; }

    async Task UpdateValueSong()
    {
        await onSongChanged.InvokeAsync(song);
    }



}
